body{
    max-width: 1024px;
    margin: 0 auto !important;
}

.head {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

.head h1 {
    margin: 0;
    font-size: 3rem;
}

.form-container {
    padding: 0 15%;
}

.table-hover {
    margin-top: 2rem;
}

input[type="submit"] {
    display: flex;
    justify-content: center;
    width: 30%;
    margin: auto;
}

table td.delete-btn {
    padding-top: 0.4rem;
}