/* need !important to override bootstrap stuff */

body {
    max-width: 1024px;
    margin: 0 auto !important;
}

.head {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.head h1 {
    margin: 0;
    font-size: 3rem;
}

#myInput {
    width: 100%;
    max-width: 40%;
    margin: 30px auto 0;
    display: flex;
}

.form-container {
    padding: 0 15%;
}

.table-hover {
    margin-top: 2rem;
}

input[type="submit"] {
    display: flex;
    justify-content: center;
    width: 30%;
    margin: auto;
}

table td.delete-btn {
    padding-top: 0.4rem;
}

.table td {
    vertical-align: middle !important;
}

#del-list-btn {
    width: 20%;
    float: right;
    display: flex;
    justify-content: center;
    background-color: rgb(220, 53, 69);
    border-color: transparent;
}

#del-list-btn:hover {
    background-color: #7f1a1a;
    border-color: transparent;
}

#del-list-btn:focus {
    box-shadow: none;
}